<h1>Fill in the blanks to search for your new car!</h1>
<form action='/car' method='post'>
  <div class='form-group'>
    <label for='maxPrice'>Enter max Price</label>
    <input id='maxPrice' name='maxPrice' class='form-control' type='text'>
  </div>
  <div class='form-group'>
    <label for='maxMiles'>Enter max miles</label>
    <input id='maxMiles' name='maxMiles' class='form-control' type='text'>
  </div>
  <button type='submit' class='btn'>Show me the cars!</button>
</form>
