<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Mad Libs</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
    <h1>Fill in the blanks to search for your new car!</h1>
    <form action='/car'>
      <div class='form-group'>
        <label for='maxPrice'>Enter max Price</label>
        <input id='maxPrice' name='maxPrice' class='form-control' type='text'>
      </div>
      <div class='form-group'>
        <label for='maxMiles'>Enter max miles</label>
        <input id='maxMiles' name='maxMiles' class='form-control' type='text'>
      </div>
      <button type='submit' class='btn'>Show me the cars!</button>
    </form>
  </body>
</html>
